@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  background-color: black;
  color: white;
}

.logo {
  width: 8rem;
}

.nav-bar {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 1091px;
  height: 380px;
  margin: 0 auto;
  gap: 1rem;
}

.card {
  width: 190px;
  height: 280px;
  background: #ee9900;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.card__inside {
  width: 170px;
  height: 264px;
  background: white;
  border-radius: 15px;
  transform-style: preserve-3d;
  position: relative;
}
.card__front {
  position: absolute;
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);
}

.card__back,
.card__front {
  position: relative;
  backface-visibility: hidden;
  transition: transform 0.5s;
}
.card__back {
  transform: rotateY(0deg);
}
.card.flipped .card__inside {
  transform: rotateY(180deg);
}
.card:not(.flipped) .card__inside {
  transform: rotateY(0deg);
}

.card__image {
  width: 155px;
  height: 130px;
  position: absolute;
  top: 20px;
  object-fit: cover;
}

.card__title {
  width: 100%;
  top: 215px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 29px;
}

div p {
  text-align: center;
}
